#content {
  margin: 0 auto;
  width: 900px;
}

img {
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

h1 {
font-family: Helvetica,  sans-serif;
font-size: 20px;
}

h2 {
font-family: Georgia, serif;
font-size: 2em;
font-size: italic;
font-style: bold;
text-align:center;
text-align: justify;
margin-left: 70px;
margin-right: 70px;
width: 70px;

}

#image1 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: Georgia, serif;
  font-size: 13px;
  font-style: bold;
  font-weight:bold;
  text-align: center;
}

#image2 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: Georgia, serif;
  font-size: 13px;
  font-style: bold;
  font-weight:bold;
  text-align: center;

}

#image3 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: Georgia, serif;
  font-size: 13px;
  font-style: bold;
  font-weight:bold;
  text-align: center;

}

#graphic {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: Georgia, serif;
  font-size: 13px;
  font-style: bold;
  font-weight:bold;
  text-align: center;

}

#byline {
font-family: Helvetica, sans-serif;
font-size: 14px;
font-style: italic;
}


p {
font-family: Georgia, serif;
font-size: 13px;
}

blockquote {
  font-family: Georgia, serif;
  font-size: 1.5em;
  font-style: italic;
  font-style: bold;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 50px;
  padding-left: 15px;
  width: 70%;
}
