#content {
  margin: 0 auto;
  width: 900px;
}

.header{
  width: 100%;
}


h1 {
font-family: Helvetica,  sans-serif;
font-size: 20px;
}

h2 {
font-family: Georgia, serif;
font-size: 2em;
font-size: italic;
font-style: bold;
text-align:center;
margin-left: 70px;
margin-right: 70px;
width: 70px;

}

h3{
font-family: Georgia, serif;
font-size: 25px;
font-size: italic;
font-style: bold;

}

#image1 {
  font-family: Georgia, serif;
  font-size: 13px;
  font-style: bold;
  font-weight:bold;
  text-align: center;
}

.image1{
  width: 100%;
}

#image2 {
  font-family: Georgia, serif;
  font-size: 13px;
  font-style: bold;
  font-weight:bold;
  text-align: center;

}

.image2{
  width: 100%;
}

#image3 {
  font-family: Georgia, serif;
  font-size: 13px;
  font-style: bold;
  font-weight:bold;
  text-align: center;

}

.image3{
width: 100%;

}

#graphic {
  font-family: Georgia, serif;
  font-size: 13px;
  font-style: bold;
  font-weight:bold;
  text-align: center;

}

.gif{
  width: 100%;
}



#byline {
font-family: Helvetica, sans-serif;
font-size: 14px;
font-style: italic;
}


p {
font-family: Georgia, serif;
font-size: 13px;
}

blockquote {
  font-family: Georgia, serif;
  font-size: 1.5em;
  font-style: italic;
  font-style: bold;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 50px;
  padding-left: 15px;
  width: 70%;
}
