body{
  font-family: Arial;
  color: #444
}
h1
.uppercase{
  font-family: Arial;
  font-size: 3em;
  color: #33485e;
  text-transform: capitalize;
  text-align: center;

}
h2{
  font-family: Arial;
  font-size: 1.5em;
  font-weight: 400;
  background-color: #33485e;
  color: white;



}
h3{
  font-family: Arial;
  font-size: 1.5em;
  font-weight: 600;

}
h4{
  font-family: Arial;
  font-size: 1.5em;
  font-weight: 400;
}
h5{
  font-family: Arial;
  font-size: 1em;
  font-weight: 400;
  font-style: italic;
}
