#content{
  align: center;
  margin: 0 auto;
  width: 900px;
}

.header{
  width: 100%;
  margin-bottom: -20%;
}


h1{
  font-family: Georgia,  sans-serif;
  font-size: 32px;
  text-align: left;

}

h2 {
  font-family: Garamond,  sans-serif;
  font-size: 20px;
  text-align: left;
}

h3 {
  font-family: Georgia,  sans-serif;
  font-size: 13px;
  text-align: left;
}

/* end of heading elements */


p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  text-align: left;
  max-width: 900px;

}


#byline{
  font-family: Georgia, sans-serif;
  font-size: 14px;
  font-style: italic;
  text-align: center;

}


#image1 {
  font-family: Georgia, serif;
  font-size: 13px;
  font-style: bold;
  font-weight: bold;
  text-align: center;
}

.image1{
  width: 100%;
}

#image2 {
  font-family: Georgia, serif;
  font-size: 13px;
  font-style: bold;
  font-weight: bold;
  text-align: center;
}

.image2 {
  width: 100%;
}

#image3 {
  font-family: Georgia, serif;
  font-size: 13px;
  font-style: bold;
  font-weight: bold;
  text-align: center;
}

.image3 {
  width: 100%;
}


#image4 {
  font-family: Georgia, serif;
  font-size: 13px;
  font-style: bold;
  font-weight: bold;
  text-align: center;
}

.image4 {
  width: 100%;
}

#image5 {
  font-family: Georgia, serif;
  font-size: 13px;
  font-style: bold;
  font-weight: bold;
  text-align: center;
}

.image5 {
  width: 70%;
}





blockquote {
  font-family: Georgia, serif;
  font-size: 1.5em;
  color: #416F0C;
  font-style: italic;
  font-style: bold;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 50px;
  padding-left: 15px;
  width: 70%;
